.header {
	height: 100vh;
	background: url('../img/bg_main.jpg') center (center / cover) no-repeat;
	* {
		color: #ffffff;
	}
	&__descr {
		margin-top: 150px;
		display: grid;
		justify-items: start;
		align-items: center;
	}
	&__title {
		font-size: 90px;
		line-height: 130%;
		margin: 0;
	}
	&__subtitle {
		font-weight: normal;
		font-size: 20px;
		line-height: 140%;
	}
	&__btn {
		padding: 20px 60px;
		margin-top: 110px;
	}
}
