.activities {
	padding: 45px 80px;
	background-color: rgba($green, 0.07);
	&__wrapper {
		margin-top: 50px;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2, 1fr);
		gap: $gap;
		align-items: center;
	}
	&__img {
		max-width: 85px;
		max-height: 85px;
	}
	&__descr {
		margin-top: 15px;
		font-size: 16px;
		line-height: 130%;
	}
}
